<div class="budget">
    <div class="budget__header">
        <button class="budget__button">
            <icon name="chevron-left"></icon>
        </button>
        <h1 class="budget__month">{{(currentMonth$ | async).name}}</h1>
        <button class="budget__button">
            <icon name="chevron-right"></icon>
        </button>
    </div>
    <div class="budget__list">
        <div *ngIf="!((categories$ | async)?.length)" class="budget__placeholder">
            No categories...
        </div>
        <category *ngFor="let category of (categories$ | async)" [category]="category"></category>
    </div>
</div>

<modal></modal>