:host {
  display: block;
  padding: 20px 0;
  min-height: 100%;
}

.budget {
  &__month {
    margin-left: 20px;
    margin-bottom: 5px;
  }
  &__placeholder {
    margin-left: 20px;
    color: #999;
  }
}
